#callStatus
  img.callerAvatar(src= locals.picUrl)
  h1.callerName= locals.caller
  h2.callerNumber= locals.caller
  h2.callTime 0:00:00
  .callActions
    button.answer Answer
    button.ignore Ignore
    button.end End Call
    button.take Take Call
    button.push Push Call
    button.addParty Add Party
    button.mute Mute
    button.hold Hold